$background_color: #F4F7FF;
$white: rgb(245, 245, 245);
$black: #1A1A1A;
$light_grey: #878787;
$lighter_grey: rgb(188, 188, 188);
$primary: blue;

// Brand Colors
$twentyx_purple: #5630FF;
$twentyx_deep_purple: #2B166F;
$twentyx_text: #495571;


// Colors
$primary_color: #5630FF;

// Border Radius
$border_radius_medium: 12px;